/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

form .error {
  color: red;
  margin-bottom: 0;
}

.account-forms-container {
  padding-left: 20px;
}
